@background-color: #eee; 
@header-color: #556272;
@header2-color: #4c8293;
@header3-color: #879bb4;
@highlight-color: #EBB275;
@highlight2-color: #4d96eb;
@highlight3-color: #bdbdbd;
@highlight4-color: #dfdfdf;
@hyperlink-color: #5487c3;

@cool-color: #3d9;

@font-face{
	font-family: 'museoSR300';
	src: url('../fonts/museoSR/300.woff') format('woff');
}

@font-face{
	font-family: 'museoSR500';
	src: url('../fonts/museoSR/500.woff') format('woff');
}

@font-face{
	font-family: 'museoSR700';
	src: url('../fonts/museoSR/700.woff') format('woff');
}

@font-face{
	font-family: 'geoAlk';
	src: url('../fonts/geo/alkround-med.otf') format('opentype');
}