@import "global.less";
@import "helpers.less";

h1, h2, h3 { margin: 0; }

h1 { 
	font-family: 'museoSR700'; 
	color: @header-color;
}

h2 { 
	font-family: 'museoSR500';
	color: @header2-color;
}

h3 { 
	font-family: 'museoSR300';
	color: @header3-color;
}

html { 
	//background: url("../imgs/landscape-geo.jpg") no-repeat center center fixed; 
	background: url("../imgs/backdrop.jpg") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../imgs/backdrop.jpg', sizingMethod='scale')";
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../imgs/backdrop.jpg', sizingMethod='scale');

	font-family: 'museoSR300';
	font-size: 14pt;
}

body{
	margin: 0;
}

.title-text{
	font-size: 50pt;
	font-family: 'museoSR700'; 
	color: @header-color;
}

.subtitle-georgian-text{
	font-size: 30pt;
	font-family: 'geoAlk';
	color: @header2-color;
}

#Header {
	position: fixed;
	padding-top:@global-margin;
	width: calc(~"100%" - @main-menu-width);
	left: @main-menu-width;
	z-index: 999;
	text-align: right;
}
	#Header .left {
		padding-top: @global-margin;
		padding-left: @global-margin;
	}
	
	#Header .right {
		padding-right: @global-margin;
	}
	
	#Header .title-text, #Header .subtitle-georgian-text {
		background: @background-overlay;
		.box-shadow( 10px 0 0 @background-overlay; -10px 0 0 @background-overlay);
		margin: 0 10px;
	}

#LeftPane{
	position: fixed;
	height: calc(~"100%" - (4*@global-margin));
	margin: @global-margin;
	padding: @global-margin;
	background: @background-overlay;
}

#LeftPaneFooter {
	position:absolute;
	bottom: 10px;
	text-align: center;
	width: 100%;
}

#MainContent{
	position: relative;
	top: 150px;
	left: @main-menu-width;
	padding: 60px 20px 20px 30px;
	width: calc(~"100% - 300px");
}
	#MainContent span, #MainContent a{
		.backed-text;
	}