@import "global.less";
@import "helpers.less";

.menuButton {
	display: block;
	list-style-type: none;
	width: 130px;
	height: 130px;
	margin-bottom: 4px;
	border: 20px;
	border-radius: 10px;

	fill: @faded-highlight3-color;
	stroke: @border-color;
}
	.menuButton:nth-child(1){
		padding: 60px 0 40px 0;
	}
	.menuButton img {
		margin: 10px;
	}
	
	.menuButton:hover:not(.selected) {
		fill: @faded-highlight4-color;
	}
	
	.menuButton.selected {
		padding-right: 0;
		border-radius: 10px;
		fill: @faded-highlight-color;
	}