@import "../global.less";
@import "../helpers.less";

.menu-item {
	margin-bottom: 4px;
	color: black;
}
	.menu-item h3{
		.inline;
	}
	
	.menu-item img {
		margin: 2px;
		display: inline-block;
		height: 20px;
	}
	
	.menu-item.selected {
		border-bottom: 1px solid #000;
		padding-bottom: 4px;
	}