<!doctype html>
<html ng-app="notesApp" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Quick Notes</title>

    <link rel="stylesheet" href="dist/css/style.min.css">
    <link rel="stylesheet" href="dist/css/flag-icon.min.css">
    <link rel="stylesheet" href="dist/css/_bower.css">
    
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
    <script src="dist/js/app.min.js"></script>
    <script src="dist/js/_bower.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
</head>

<body ng-controller="notesController">

    <div class="container">
        <div class="col-md-6 col-md-offset-3">

            <div class="page-header">
                <h1>Quick Notes</h1>
            </div>

            <div id="messages"></div>

            <form>
                <div id="note-group" class="form-group">
                    <label>Note</label>
                    <div class="input-group">
                        <textarea class="form-control custom-control vresize" rows="3" id="note-area" ng-model="noteText"></textarea>
                        <span class="input-group-addon btn btn-primary" ng-click="AddNote()">Add!</span>
                    </div>
                </div>
            </form>

            <table id="NoteTable" class="table table-striped">
                <tr>
                    <th>ID</th>
                    <th>Note</th>
                    <th>Date Created</th>
                    <th></th>
                </tr>
                <tr ng-repeat="entry in entries">
                    <td>{{entry.id}}</td>
                    <td><a class="link" ng-click="ShowDialog(entry.note)">{{entry.note}}</a></td>
                    <td>{{entry.created_date | date}}</td>
                    <td>
                        <button type="button" ng-click="DeleteNote($index)">
                            <span class="my-icon my-icon-trash"></span>
                        </button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>

</html>